# <b>KGLiDS APIs </b>

In [5]:
import sys
sys.path.insert(0, '/Users/shubhamvashisth/Documents/CoDS/projects/kglids/')

In [6]:
from api.api import KGLiDS
kglids = KGLiDS()

connected to http://localhost:7777/blazegraph/namespace/kglids_smallerReal/sparql

In [7]:
kglids.show_graph_info()

  Total_datasets Total_tables Total_columns     Total_pipelines
0              1          654          8773  Not yet supported!

In [8]:
kglids.get_datasets()

       Dataset
0  smallerReal

In [9]:
kglids.get_tables(dataset='smallerReal')

,Table,Dataset,Path_to_table
0,EKrbOe5.csv,smallerReal,/home/mossad/projects/kglids/storage/sources/e...
1,etlzrE1.csv,smallerReal,/home/mossad/projects/kglids/storage/sources/e...
2,eTyxAHl.csv,smallerReal,/home/mossad/projects/kglids/storage/sources/e...
3,eWYrl2R.csv,smallerReal,/home/mossad/projects/kglids/storage/sources/e...
4,eyqwiTF.csv,smallerReal,/home/mossad/projects/kglids/storage/sources/e...
...,...,...,...
649,foLXfZI.csv,smallerReal,/home/mossad/projects/kglids/storage/sources/e...
650,FpNTXnD.csv,smallerReal,/home/mossad/projects/kglids/storage/sources/e...
651,FwYtos5.csv,smallerReal,/home/mossad/projects/kglids/storage/sources/e...
652,G1z4mCQ.csv,smallerReal,/home/mossad/projects/kglids/storage/sources/e...
653,GirkrJL.csv,smallerReal,/home/mossad/projects/kglids/storage/sources/e...

In [14]:
kglids.recommend_k_tables(table='EKrbOe5.csv')

Showing the top 5 table recommendations!

  Recommended_table
0       6vlopP5.csv
1       BKoWeaJ.csv
2       oet7Hp4.csv
3       JIJiHMW.csv
4       R5w2Duf.csv

In [12]:
kglids.search_tables_on(conditions=[['salary', 'pay']]).head()

,table_name,dataset_name,number_of_columns,number_of_rows,path
0,0NzYjqf.csv,smallerReal,14.0,298220.0,/home/mossad/projects/kglids/storage/sources/e...
1,nIo3dkf.csv,smallerReal,15.0,27270.0,/home/mossad/projects/kglids/storage/sources/e...
2,UkZ0NoM.csv,smallerReal,15.0,26594.0,/home/mossad/projects/kglids/storage/sources/e...
3,eWYrl2R.csv,smallerReal,15.0,26486.0,/home/mossad/projects/kglids/storage/sources/e...
4,AzuTcNG.csv,smallerReal,15.0,24846.0,/home/mossad/projects/kglids/storage/sources/e...